header {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(106, 171, 197);
  align-items: center;
}

p {
  margin-left: 2%;
}

h1 {
  margin-right: 45%;
}

#box {
  display: flex;
  flex-direction: column;
}

#picture {
  height: 80%;
  position: relative;
  text-align: center;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#Lilla-base {
    position: absolute;
    color: rgb(242, 11, 11);
    background-color: rgba(191, 8, 197, 0.765);
    text-align: center;
    font-size: 16px;
}

#Oransje-base {
    position: absolute;
    color: rgb(242, 11, 11);
    background-color: rgba(255, 179, 1, 0.822);
    text-align: center;
    font-size: 16px;
}

#esport {
    position: absolute;
    color: rgb(242, 11, 11);
    background-color: rgba(255, 15, 163, 0.765);
    text-align: center;
    font-size: 16px;
}

#Blå-base {
    position: absolute;
    color: rgb(242, 11, 11);
    background-color: rgba(15, 123, 255, 0.765);
    text-align: center;
    font-size: 16px;
}

#Grønn-base {
    position: absolute;
    color: rgb(242, 11, 11);
    background-color: rgba(15, 255, 59, 0.765);
    text-align: center;
    font-size: 16px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .kart {
    width: 100%;
    height: auto;
  }
  #Lilla-base {
    top: 57%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    width: 14%;
    height: 15%;
    cursor: grab;
  }

  #Oransje-base {
    top: 60%;
    left: 62.8%;
    transform: translate(-50%, -50%);
    width: 18.3%;
    height: 21%;
    cursor: grab;
  }

  #esport {
    top: 57%;
    left: 33.5%;
    transform: translate(-50%, -50%);
    width: 12%;
    height: 15%;
    cursor: grab;
  }

  #Blå-base {
    left: 19.5%;
    transform: translate(-50%, -50%);
    width: 15.5%;
    height: 15.6%;
    cursor: grab;
  }

  #Grønn-base {
    top: 60%;
    left: 80.7%;
    transform: translate(-50%, -50%);
    width: 17.5%;
    height: 21.3%;
    cursor: grab;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .kart {
    width: 100%;
    height: auto;
  }
  #Lilla-base {
    top: 59%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    width: 14%;
    height: 15%;
    cursor: grab;
  }

  #Oransje-base {
    top: 62%;
    left: 62.8%;
    transform: translate(-50%, -50%);
    width: 18.3%;
    height: 21%;
    cursor: grab;
  }

  #esport {
    top: 59%;
    left: 33.5%;
    transform: translate(-50%, -50%);
    width: 12%;
    height: 15%;
    cursor: grab;
  }

  #Blå-base {
    top: 59%;
    left: 19.5%;
    transform: translate(-50%, -50%);
    width: 15.5%;
    height: 15.6%;
    cursor: grab;
  }

  #Grønn-base {
    top: 62%;
    left: 80.7%;
    transform: translate(-50%, -50%);
    width: 17.5%;
    height: 21.3%;
    cursor: grab;
  }
}
